<form action="<%= newUserPath %>" method="post">
  <% if (locals.errors) { %>
    Tienes que arreglar los siguientes errores:
    <ul>
      <% errors.forEach(error => { %>
        <li><%= error.message %></li>
      <% }) %>
    </ul>
  <% } %>

  <div class="field">
    <label for="nickname">Nickname</label>
    <input type="text" id="nickname" name="nickname" value="<%= user.nickname %>" />
  </div>
  <div class="field">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" value="<%= user.email %>" />
  </div>
  <div class="field">
    <label for="phone_num">Numero de Telefono</label>
    <input type="number" id="phone_num" name="phone_num" value=<%= user.phone_num %> />
  </div>
  <div class="field">
    <label for="telegram_user">Usuario de Telegram</label>
    <input type="text" id="telegram_user" name="telegram_user" value="<%= user.telegram_user %>" >
  </div>
  <div class="field">
    <label for="password">Contraseña</label>
    <input type="password" id="password" name="password" />
  </div>
  
  <div class="actions">
    <input type="submit" value="Registrarme" />
  </div>
</form>

<!-- <p>¿Ya estas registrado?</p> -->
<!-- <a class="act" href="<%= paths.newSession %>"><button>Iniciar sesión</button></a> -->
